---
http_interactions:
- request:
    method: post
    uri: https://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic c2FtZGhvZmZtYW5AZ21haWwuY29tOnRvZG9hYmxl
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"token":"e990ae01-17ad-44f7-b1b8-fb18b039eda0","expires_at":"2020-02-10T04:30:15.339Z"}'
  recorded_at: Mon, 10 Feb 2020 04:10:15 GMT
- request:
    method: get
    uri: https://todoable.teachable.tech/api/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="e990ae01-17ad-44f7-b1b8-fb18b039eda0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lists":[{"name":"Sam H List 1","src":"https://todoable.teachable.tech/api/lists/f6457b90-c5b2-41c0-b680-9263a6bb417d","id":"f6457b90-c5b2-41c0-b680-9263a6bb417d"}]}'
  recorded_at: Mon, 10 Feb 2020 04:10:15 GMT
recorded_with: VCR 5.1.0
